---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
---

<Layout title="Welcome to Astro.">
  <main
    class="section py-16 md:py-36 scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl"
  >
    <div class="flex lg:flex-row flex-col lg:gap-4 gap-4">
      <div
        class="w-[100%] rounded lg:w-[100%] p-10 flex justify-center items-center bg-[#333]"
      >
        <p class="rounded">
          ¡Hola! En esta web vas a encontrar apuntes sobre lenguajes y temas de
          programación además de mi progreso
        </p>
      </div>
      <div class="flex w-[100%] lg:w-[100%] flex-col gap-6">
        <a href="" title="progreso" class="text-3xl rounded p-10 bg-[#333]">
          HTML5 <span class="text-[#FF7F00]">CHEATSHEET</span>
        </a>
        <a href="" title="progreso" class="rounded text-3xl p-10 bg-[#333]">
          Sigue mi <span class="text-[#FF7F00]">PROGRESO</span>
        </a>
      </div>
    </div>
    <div class="flex flex-col gap-2 mt-5">
      <Section category="Blog" />
      <Section category="Tema" />
    </div>
  </main>
</Layout>

<style>
  .shadow {
    box-shadow:
      0.5em 0.5em 2em #1b1b1b,
      inset 0 0 0 #353535;
  }
</style>
