---

---

<header class="flex mx-44 h-24  items-center justify-between">
  <a href="/" title="inicio" class="text-[2rem]">
    We<span class="text-[#FF7F00]">Also</span>
  </a>
  <ul class="flex gap-5">
    <li class="bg-[#fcd34d40] hover:bg-[#fcd34d71] px-4 rounded">
      <a href="">Inicio</a>
    </li>
    <li class="hover:bg-[#424242] px-4 rounded">
      <a href="">Blog</a>
    </li>
    <li class="hover:bg-[#424242] px-4 rounded">
      <a href="">Lenguajes</a>
    </li>
    <li class="hover:bg-[#424242] px-4 rounded">
      <a href="">Temas</a>
    </li>
  </ul>
</header>

