---
interface Props {
  category: string;
}

interface Post {
  url: string;
  frontmatter: {
    title: string;
    [key: string]: any;
  };
}

const { category } = Astro.props;
let posts: Post[] = [];

switch (category) {
  case "blog":
    posts = (await Astro.glob("../pages/blog/post/*.md")) as Post[];
    break;
  case "tema":
    posts = (await Astro.glob("../pages/tema/post/*.md")) as Post[]; 
    break;
  default:
    posts = [];
}

posts = posts.slice(0, 4);

{
  posts.length > 0 && (
    <div class="flex flex-col gap-6 mt-12">
      <h2 class="text-3xl">{category}</h2>

      <div class="flex gap-2">
        {posts.map(post => (
          <a
            href={post.url}
            title="progreso"
            class="text-xl  w-[100%] rounded p-10 bg-[#333]  mb-4"
          >
            {post.frontmatter.title}
          </a>
        ))}
      </div>
    </div>
  );
}
---
